.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(3, 3, 3);
  font-size: 2rem;
  padding-top: 5%;
  width: 100%;
}

.Header > img {
  width: 40px;
  margin-right: 8px;
}

.Header > span {
  font-weight: 600;
}
